# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=ecoclean_db

# Server Configuration
PORT=3000

# Email Configuration (SMTP) - Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=softionyxgroup@gmail.com
SMTP_PASS=zqodavcuknwiykky
CONTACT_EMAIL=softionyxgroup@gmail.com
